.accordion {
    .btn {
        color: $black;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        //add arrow
        &::after {
            content: "\f107";
            color: $black;
            top: -2px;
            right: 0px;
            position: absolute;
            font-family: "FontAwesome"

        }
    }
    
    .btn[aria-expanded="true"]::after {
        content: "\f106";
    }
}