.breadcrumb {
    background-color: white;
    font-size: small;
    &-item {
       
        a {
            color: $grey-text;
            text-decoration: none;  
        }
        
        .active {
            color: $black;
        }
    }
}