// Définition de la variable "fa-font-path" nécessaire au chargement des fichiers de font de FA
// Comme elle est déclarée en premier, c'est cette valeur qui sera utilisée
// et non celle définie dans le code source de FA
$fa-font-path: '/../node_modules/font-awesome/fonts';

// COLORS
$black: #000000;
$main-background: #F5F5F5;
$grey-text: #666666;

// FONTS
$main-font: 'Roboto', sans-serif;
$main-font-condensed: 'Roboto Condensed', sans-serif;
$aside-title: Helvetica, sans-serif;
$font-fallback: Arial, Helvetica, sans-serif;

// LAYOUT
$main-padding: 1.5em;