@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Définition de la variable "fa-font-path" nécessaire au chargement des fichiers de font de FA
// Comme elle est déclarée en premier, c'est cette valeur qui sera utilisée
// et non celle définie dans le code source de FA
$fa-font-path: '/../node_modules/font-awesome/fonts';

// FONTS

$main-font: 'Roboto', sans-serif;
$main-font-condensed: 'Roboto Condensed', sans-serif;
$font-fallback: Arial, Helvetica, sans-serif;