.aside {
    padding: $main-padding;
    h3 {
        text-transform: uppercase;
        font-family: $aside-title;
        font-weight: 900;
        font-stretch: condensed;
    }
}

.insurance {
    h5 {
        font-size: 95%;
        font-weight: bold;
    }
}