.aside-like {
    padding: $main-padding;
    @media (min-width: 992px){
        background: linear-gradient(to right, white 70%, $aside-grey 30%);
    }
    
    h3 {
        text-transform: uppercase;
        font-family: $aside-title;
        font-weight: 900;
        font-stretch: condensed;
    }
}

.aside-last {
    padding: $main-padding;
    @media (min-width: 992px) {
        background: linear-gradient(to left, white 70%, $aside-grey 30%);
    }
    margin-top: 5em;
    
    h3 {
        text-transform: uppercase;
        font-family: $aside-title;
        font-weight: 900;
        font-stretch: condensed;
    }
}

.insurance {
    
    h5 {
        font-size: 95%;
        font-weight: bold;
    }
}