.footer {
  padding: $main-padding;
  background-color: #F5F5F5;
    &-logo {
        img {

            height:5em;
        }
    }
    .contact {
        &-head {
            font-weight: bold;
            font-size: x-large;
        }

        &-text {
            color: $alt-color;
        }
    }
}
