@charset 'UTF-8';

@import 
  'abstracts/vars';

@import
  '~reset-css/sass/reset',
  '~font-awesome/scss/font-awesome',
  '~bootstrap/scss/bootstrap';

@import
  'base/typo';

@import
  'components/modal',
  'components/slider',
  'components/breadcrumb',
  'components/insurance',
  'components/button',
  'components/network',
  'components/accordion';

@import
  'layout/nav',
  'layout/body',
  'layout/header',
  'layout/main',
  'layout/footer',
  'layout/aside';
